* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    "sans-serif";
  color: white;
}

body {
  background-color: #1f2833;
}

nav {
  background-color: #212121;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

nav h1 {
  padding: 15px;
  font-size: 35px;
}

main {
  display: flex;
}

.headingWithIcon {
  display: flex;
  align-content: center;
}

.citySideBar {
  width: 20%;
  padding: 20px;
}

.cityNameInput {
  color: black;
}

.cityNameInput,
.searchButton,
.buttons {
  display: block;
  width: 90%;
  font-size: 25px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
}

.searchButton {
  background-color: #212121;
  font-size: 20px;
  padding: 7px 0 7px;
  color: white;
  width: 95%;
}
.buttons {
  background-color: green;
  font-size: 20px;
  padding: 7px 0 7px;
  color: white;
  width: 95%;
}

.lineBelowSearch {
  margin-top: 10px;
  width: 95%;
}
.rightSideBar {
  width: 80%;
  padding: 10px;
  margin: 5px;
}

.currentCity > .attributes {
  margin: 15px 0;
  font-size: 20px;
}

.fiveDayForecast {
  margin-top: 50px;
}
.fiveDayCardsContainer {
  display: flex;
}

.uv {
  border-radius: 3px;
  padding: 4px;
}

.card {
  color: white;
  padding: 5px;
  width: 20%;
}

.card > p {
  margin: 10px 0 10px;
}
